
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3950A280; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3950A2; 
  }